.body-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body-content-x {
  display: flex;

  justify-content: flex-end;
  align-items: center;
}
.container-movie {
  position: relative;
  width: 100%;
  max-width: 400px;
}
.container-movie img {
  width: 60%;
  height: auto;
}
.container-movie .btn {
  position: absolute;
  top: 0%;
  left: 65%;

  padding: 0;
  border: none;
  background: none;

  width: 50%;

  text-align: center;
}
